
.clearfix:after {
        content: "";
        display: block;
        clear: both;
      }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}




.main{
margin: 50px auto;
width: 960px;

}


.step{

float: left;
width: 300px;
border:   0.5px solid black;
margin-right:30px;
padding: 10px;
position: relative;


}


.step:last-child{
margin-right:0px;

}




.title{
font-size: 15px;



}





.img1{
  background-image:url(img/flow01.png);
background-size: cover;
background-position: center;
width: 280px;
height:150px;
}

.img2 {
  background-image: url(img/flow02.png);
  background-size: cover;
background-position: center;
width: 280px;
height:150px;
}


.img3{
  background-image: url(img/flow03.png);
  background-size: cover;
background-position: center;
width: 280px;
height:150px;

}



.pstep{
width: 50px;

 color:  white  ;
background-color: orange;
position: absolute;
top: 0px;
left: 0px;
line-height: 20px;
}







@media screen and (max-width:768px) {









.main{

width:90% ;

margin: 50px auto;

}


.step{
width: 100%;
margin:0px 0px 20px  0px;

}

.step:last-child{
  margin: 0px;

}

.img1{
  width: 100%;


}

.img2{
  width: 100%;


}
.img3{
  width: 100%;
}




}